In [3]:
import pandas as pd
import numpy as np
from datetime import *
from glob import glob

In [4]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print(tf.__version__)

2.4.0

In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import r2_score

In [6]:
import pylab as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

## Get data

In [7]:
with open('pipeline_data/steps.dat', 'r') as handle:
    steps = handle.readline().strip().split()

In [8]:
csv_fname = glob('pipeline_data/data_????-??-??_glm.csv')[0]
df = pd.read_csv(csv_fname, dtype={'fips': str}).set_index('fips')
df.head()

,case0,case1,case2,case3,case4,case5,case6,case7,case8,case9,...,death29_glm,death30_glm,death31_glm,death32_glm,death33_glm,death34_glm,death35_glm,death36_glm,death37_glm,total_death_glm
fips,,,,,,,,,,,,,,,,,,,,,
01001,12.0,7.0,6.0,11.0,11.0,16.0,45.0,48.0,60.0,48.0,...,1.89,1.92,2.58,2.54,3.32,2.95,4.44,4.85,5.00,69.38
01003,34.0,36.0,40.0,45.0,30.0,34.0,42.0,19.0,12.0,29.0,...,3.32,3.21,3.53,4.09,5.28,5.24,7.80,8.73,9.04,95.68
01005,3.0,7.0,8.0,16.0,9.0,14.0,24.0,27.0,47.0,41.0,...,0.70,0.57,1.06,0.67,0.86,0.66,0.98,1.02,1.20,47.25
01007,4.0,9.0,13.0,8.0,7.0,4.0,7.0,7.0,15.0,5.0,...,0.79,0.84,1.29,1.05,1.33,1.13,1.67,1.77,1.90,27.49
01009,12.0,3.0,9.0,12.0,6.0,5.0,2.0,3.0,13.0,11.0,...,0.80,0.90,1.08,1.08,1.22,1.17,1.64,1.77,1.83,14.24

## Functions

In [9]:
class tfRegr:
    
    def __init__(self, 
                 epoch=100, 
                 verbose=False, 
                 validation_split=0.2, 
                 learning_rate=.1):
        
        self.normalizer = preprocessing.Normalization()
        self.ep = epoch
        self.vb = verbose
        self.vs = validation_split
        self.lr = learning_rate
    
    def fit(self, X, y):
        self.normalizer.adapt(X)

        self.model = tf.keras.Sequential([
            self.normalizer,
            layers.Dense(units=1)
        ])

        self.model.compile(
            optimizer=tf.optimizers.Adam(learning_rate=self.lr),
            loss='mean_absolute_error'
        )

        self.history = self.model.fit(
            X, y,
            epochs=self.ep,
            verbose=self.vb, # logging
            validation_split=self.vs # Calculate validation results on a fraction of the training data
        )
        return self.model

In [10]:
def predict(df, cur_idx):

    regrs = {
        'RF': RandomForestRegressor(min_samples_split=2), 
        'ET': ExtraTreesRegressor(min_samples_split=2), 
        'TF': tfRegr(),
    }
    
    cur = f'case{cur_idx}'

    glm = [f'case{cur_idx - 1}_glm', f'case{cur_idx}_glm'] 
    cols = [f'case{cur_idx - 1}'] + glm
    X, y = df[cols].values, df[cur].values 
    
    
    for name, regr in regrs.items():
        regr = regr.fit(X, y)

        #================ Evaluation ===============START
        y_pred = regr.predict(X).flatten()
        r2 = r2_score(y, y_pred)
        rmse = np.sqrt(((y - y_pred) ** 2).mean())
        print(f'\t{name}: r2 = {r2:.3f}, rmse = {rmse:.3f}')
        #================ Evaluation ===============START
        
        cols = [cur] + glm
        df[cur + f'_{name}_1'] = regr.predict(df[cols].values).flatten()
        
        cols = [cur + f'_{name}_1'] + glm
        df[cur + f'_{name}_2'] = regr.predict(df[cols].values).flatten()
    
    prd_cols_1 = [col for col in df.columns if col.endswith('_1')]
    prd_cols_2 = [col for col in df.columns if col.endswith('_2')]
    prd_1 = df[prd_cols_1].mean(axis=1).values
    prd_2 = df[prd_cols_2].mean(axis=1).values
    
    df.drop(prd_cols_1 + prd_cols_2, axis=1, inplace=True)
    
    return prd_1, prd_2

## Forecast runs

In [11]:
cur_idx = len(steps) - 1
print(steps[cur_idx])

num_runs = 100
prds_1, prds_2 = [], []

for r in range(num_runs):
    print(f'run = {r}')
    prd_1, prd_2 = predict(df, cur_idx)
    prds_1.append(prd_1)
    prds_2.append(prd_2)

2020-12-19
run = 0
	RF: r2 = 0.944, rmse = 540.013
	ET: r2 = 1.000, rmse = 0.066
	TF: r2 = 0.812, rmse = 990.920
run = 1
	RF: r2 = 0.953, rmse = 493.169
	ET: r2 = 1.000, rmse = 0.060
	TF: r2 = 0.810, rmse = 995.828
run = 2
	RF: r2 = 0.959, rmse = 462.555
	ET: r2 = 1.000, rmse = 0.065
	TF: r2 = 0.804, rmse = 1012.631
run = 3
	RF: r2 = 0.943, rmse = 545.392
	ET: r2 = 1.000, rmse = 0.069
	TF: r2 = 0.809, rmse = 1000.111
run = 4
	RF: r2 = 0.926, rmse = 623.520
	ET: r2 = 1.000, rmse = 0.018
	TF: r2 = 0.810, rmse = 997.121
run = 5
	RF: r2 = 0.934, rmse = 587.351
	ET: r2 = 1.000, rmse = 0.056
	TF: r2 = 0.811, rmse = 994.791
run = 6
	RF: r2 = 0.956, rmse = 480.787
	ET: r2 = 1.000, rmse = 0.017
	TF: r2 = 0.810, rmse = 995.606
run = 7
	RF: r2 = 0.952, rmse = 501.723
	ET: r2 = 1.000, rmse = 0.061
	TF: r2 = 0.812, rmse = 992.228
run = 8
	RF: r2 = 0.955, rmse = 485.698
	ET: r2 = 1.000, rmse = 0.051
	TF: r2 = 0.811, rmse = 993.212
run = 9
	RF: r2 = 0.934, rmse = 588.000
	ET: r2 = 1.000, rmse = 0.034
	TF: r2 = 0.808, rmse = 1001.945
run = 10
	RF: r2 = 0.964, rmse = 432.665
	ET: r2 = 1.000, rmse = 0.038
	TF: r2 = 0.807, rmse = 1004.331
run = 11
	RF: r2 = 0.946, rmse = 531.601
	ET: r2 = 1.000, rmse = 0.037
	TF: r2 = 0.811, rmse = 992.894
run = 12
	RF: r2 = 0.948, rmse = 520.622
	ET: r2 = 1.000, rmse = 0.021
	TF: r2 = 0.811, rmse = 992.931
run = 13
	RF: r2 = 0.934, rmse = 587.559
	ET: r2 = 1.000, rmse = 0.109
	TF: r2 = 0.810, rmse = 995.744
run = 14
	RF: r2 = 0.950, rmse = 509.459
	ET: r2 = 1.000, rmse = 0.008
	TF: r2 = 0.805, rmse = 1008.659
run = 15
	RF: r2 = 0.922, rmse = 638.818
	ET: r2 = 1.000, rmse = 0.100
	TF: r2 = 0.812, rmse = 992.502
run = 16
	RF: r2 = 0.962, rmse = 445.365
	ET: r2 = 1.000, rmse = 0.039
	TF: r2 = 0.811, rmse = 994.243
run = 17
	RF: r2 = 0.928, rmse = 613.087
	ET: r2 = 1.000, rmse = 0.046
	TF: r2 = 0.810, rmse = 995.758
run = 18
	RF: r2 = 0.955, rmse = 487.666
	ET: r2 = 1.000, rmse = 0.084
	TF: r2 = 0.810, rmse = 996.042
run = 19
	RF: r2 = 0.962, rmse = 448.081
	ET: r2 = 1.000, rmse = 0.058
	TF: r2 = 0.805, rmse = 1008.672
run = 20
	RF: r2 = 0.942, rmse = 549.471
	ET: r2 = 1.000, rmse = 0.041
	TF: r2 = 0.812, rmse = 992.623
run = 21
	RF: r2 = 0.951, rmse = 506.738
	ET: r2 = 1.000, rmse = 0.058
	TF: r2 = 0.805, rmse = 1008.937
run = 22
	RF: r2 = 0.934, rmse = 587.253
	ET: r2 = 1.000, rmse = 0.036
	TF: r2 = 0.812, rmse = 992.293
run = 23
	RF: r2 = 0.946, rmse = 532.315
	ET: r2 = 1.000, rmse = 0.033
	TF: r2 = 0.804, rmse = 1013.058
run = 24
	RF: r2 = 0.952, rmse = 500.185
	ET: r2 = 1.000, rmse = 0.009
	TF: r2 = 0.805, rmse = 1009.069
run = 25
	RF: r2 = 0.940, rmse = 558.843
	ET: r2 = 1.000, rmse = 0.066
	TF: r2 = 0.812, rmse = 991.763
run = 26
	RF: r2 = 0.951, rmse = 508.114
	ET: r2 = 1.000, rmse = 0.053
	TF: r2 = 0.807, rmse = 1005.479
run = 27
	RF: r2 = 0.963, rmse = 437.572
	ET: r2 = 1.000, rmse = 0.019
	TF: r2 = 0.806, rmse = 1008.087
run = 28
	RF: r2 = 0.964, rmse = 434.864
	ET: r2 = 1.000, rmse = 0.034
	TF: r2 = 0.807, rmse = 1003.694
run = 29
	RF: r2 = 0.950, rmse = 511.218
	ET: r2 = 1.000, rmse = 0.049
	TF: r2 = 0.812, rmse = 990.250
run = 30
	RF: r2 = 0.934, rmse = 588.645
	ET: r2 = 1.000, rmse = 0.016
	TF: r2 = 0.811, rmse = 994.106
run = 31
	RF: r2 = 0.943, rmse = 546.221
	ET: r2 = 1.000, rmse = 0.021
	TF: r2 = 0.813, rmse = 988.299
run = 32
	RF: r2 = 0.949, rmse = 515.548
	ET: r2 = 1.000, rmse = 0.027
	TF: r2 = 0.805, rmse = 1009.401
run = 33
	RF: r2 = 0.941, rmse = 555.654
	ET: r2 = 1.000, rmse = 0.090
	TF: r2 = 0.805, rmse = 1008.792
run = 34
	RF: r2 = 0.964, rmse = 431.067
	ET: r2 = 1.000, rmse = 0.039
	TF: r2 = 0.811, rmse = 993.133
run = 35
	RF: r2 = 0.941, rmse = 555.686
	ET: r2 = 1.000, rmse = 0.058
	TF: r2 = 0.813, rmse = 989.769
run = 36
	RF: r2 = 0.935, rmse = 583.178
	ET: r2 = 1.000, rmse = 0.109
	TF: r2 = 0.812, rmse = 990.488
run = 37
	RF: r2 = 0.946, rmse = 533.737
	ET: r2 = 1.000, rmse = 0.071
	TF: r2 = 0.812, rmse = 990.525
run = 38
	RF: r2 = 0.950, rmse = 510.126
	ET: r2 = 1.000, rmse = 0.068
	TF: r2 = 0.812, rmse = 991.038
run = 39
	RF: r2 = 0.953, rmse = 497.970
	ET: r2 = 1.000, rmse = 0.062
	TF: r2 = 0.807, rmse = 1004.753
run = 40
	RF: r2 = 0.945, rmse = 534.867
	ET: r2 = 1.000, rmse = 0.058
	TF: r2 = 0.809, rmse = 998.127
run = 41
	RF: r2 = 0.965, rmse = 429.886
	ET: r2 = 1.000, rmse = 0.071
	TF: r2 = 0.808, rmse = 1003.059
run = 42
	RF: r2 = 0.945, rmse = 535.291
	ET: r2 = 1.000, rmse = 0.046
	TF: r2 = 0.812, rmse = 991.591
run = 43
	RF: r2 = 0.943, rmse = 545.021
	ET: r2 = 1.000, rmse = 0.079
	TF: r2 = 0.811, rmse = 994.693
run = 44
	RF: r2 = 0.929, rmse = 609.309
	ET: r2 = 1.000, rmse = 0.148
	TF: r2 = 0.810, rmse = 996.778
run = 45
	RF: r2 = 0.959, rmse = 461.359
	ET: r2 = 1.000, rmse = 0.081
	TF: r2 = 0.811, rmse = 993.496
run = 46
	RF: r2 = 0.953, rmse = 495.365
	ET: r2 = 1.000, rmse = 0.076
	TF: r2 = 0.811, rmse = 993.109
run = 47
	RF: r2 = 0.929, rmse = 607.602
	ET: r2 = 1.000, rmse = 0.103
	TF: r2 = 0.812, rmse = 991.110
run = 48
	RF: r2 = 0.934, rmse = 587.751
	ET: r2 = 1.000, rmse = 0.129
	TF: r2 = 0.809, rmse = 999.345
run = 49
	RF: r2 = 0.954, rmse = 490.225
	ET: r2 = 1.000, rmse = 0.024
	TF: r2 = 0.811, rmse = 995.300
run = 50
	RF: r2 = 0.959, rmse = 463.268
	ET: r2 = 1.000, rmse = 0.036
	TF: r2 = 0.813, rmse = 988.286
run = 51
	RF: r2 = 0.943, rmse = 543.853
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.812, rmse = 991.936
run = 52
	RF: r2 = 0.938, rmse = 567.125
	ET: r2 = 1.000, rmse = 0.050
	TF: r2 = 0.813, rmse = 988.529
run = 53
	RF: r2 = 0.947, rmse = 526.220
	ET: r2 = 1.000, rmse = 0.031
	TF: r2 = 0.811, rmse = 994.259
run = 54
	RF: r2 = 0.950, rmse = 509.649
	ET: r2 = 1.000, rmse = 0.165
	TF: r2 = 0.813, rmse = 990.115
run = 55
	RF: r2 = 0.956, rmse = 479.422
	ET: r2 = 1.000, rmse = 0.027
	TF: r2 = 0.808, rmse = 1002.840
run = 56
	RF: r2 = 0.952, rmse = 500.101
	ET: r2 = 1.000, rmse = 0.029
	TF: r2 = 0.813, rmse = 989.386
run = 57
	RF: r2 = 0.952, rmse = 500.484
	ET: r2 = 1.000, rmse = 0.101
	TF: r2 = 0.811, rmse = 994.661
run = 58
	RF: r2 = 0.942, rmse = 552.491
	ET: r2 = 1.000, rmse = 0.019
	TF: r2 = 0.811, rmse = 993.057
run = 59
	RF: r2 = 0.942, rmse = 552.792
	ET: r2 = 1.000, rmse = 0.063
	TF: r2 = 0.810, rmse = 997.436
run = 60
	RF: r2 = 0.971, rmse = 387.790
	ET: r2 = 1.000, rmse = 0.048
	TF: r2 = 0.811, rmse = 993.257
run = 61
	RF: r2 = 0.956, rmse = 479.800
	ET: r2 = 1.000, rmse = 0.061
	TF: r2 = 0.807, rmse = 1004.634
run = 62
	RF: r2 = 0.953, rmse = 495.270
	ET: r2 = 1.000, rmse = 0.070
	TF: r2 = 0.812, rmse = 992.799
run = 63
	RF: r2 = 0.926, rmse = 621.493
	ET: r2 = 1.000, rmse = 0.062
	TF: r2 = 0.812, rmse = 991.577
run = 64
	RF: r2 = 0.941, rmse = 554.684
	ET: r2 = 1.000, rmse = 0.036
	TF: r2 = 0.811, rmse = 994.468
run = 65
	RF: r2 = 0.929, rmse = 611.475
	ET: r2 = 1.000, rmse = 0.028
	TF: r2 = 0.810, rmse = 997.250
run = 66
	RF: r2 = 0.958, rmse = 470.902
	ET: r2 = 1.000, rmse = 0.058
	TF: r2 = 0.811, rmse = 993.694
run = 67
	RF: r2 = 0.951, rmse = 506.403
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.808, rmse = 1000.847
run = 68
	RF: r2 = 0.963, rmse = 438.243
	ET: r2 = 1.000, rmse = 0.028
	TF: r2 = 0.809, rmse = 1000.557
run = 69
	RF: r2 = 0.951, rmse = 504.115
	ET: r2 = 1.000, rmse = 0.068
	TF: r2 = 0.804, rmse = 1012.995
run = 70
	RF: r2 = 0.946, rmse = 532.308
	ET: r2 = 1.000, rmse = 0.061
	TF: r2 = 0.807, rmse = 1003.484
run = 71
	RF: r2 = 0.949, rmse = 514.644
	ET: r2 = 1.000, rmse = 0.033
	TF: r2 = 0.810, rmse = 995.804
run = 72
	RF: r2 = 0.941, rmse = 553.289
	ET: r2 = 1.000, rmse = 0.057
	TF: r2 = 0.805, rmse = 1008.882
run = 73
	RF: r2 = 0.964, rmse = 434.476
	ET: r2 = 1.000, rmse = 0.073
	TF: r2 = 0.812, rmse = 992.290
run = 74
	RF: r2 = 0.952, rmse = 502.834
	ET: r2 = 1.000, rmse = 0.059
	TF: r2 = 0.806, rmse = 1006.085
run = 75
	RF: r2 = 0.925, rmse = 625.006
	ET: r2 = 1.000, rmse = 0.059
	TF: r2 = 0.806, rmse = 1007.987
run = 76
	RF: r2 = 0.947, rmse = 526.113
	ET: r2 = 1.000, rmse = 0.068
	TF: r2 = 0.808, rmse = 1002.020
run = 77
	RF: r2 = 0.950, rmse = 510.506
	ET: r2 = 1.000, rmse = 0.062
	TF: r2 = 0.813, rmse = 990.017
run = 78
	RF: r2 = 0.953, rmse = 495.873
	ET: r2 = 1.000, rmse = 0.106
	TF: r2 = 0.813, rmse = 987.583
run = 79
	RF: r2 = 0.943, rmse = 544.524

	ET: r2 = 1.000, rmse = 0.038
	TF: r2 = 0.805, rmse = 1010.053
run = 80
	RF: r2 = 0.965, rmse = 426.013
	ET: r2 = 1.000, rmse = 0.100
	TF: r2 = 0.810, rmse = 997.368
run = 81
	RF: r2 = 0.951, rmse = 506.725
	ET: r2 = 1.000, rmse = 0.053
	TF: r2 = 0.813, rmse = 989.245
run = 82
	RF: r2 = 0.929, rmse = 609.810
	ET: r2 = 1.000, rmse = 0.025
	TF: r2 = 0.811, rmse = 993.825
run = 83
	RF: r2 = 0.969, rmse = 404.858
	ET: r2 = 1.000, rmse = 0.015
	TF: r2 = 0.809, rmse = 998.166
run = 84
	RF: r2 = 0.954, rmse = 493.005
	ET: r2 = 1.000, rmse = 0.075
	TF: r2 = 0.810, rmse = 996.486
run = 85
	RF: r2 = 0.922, rmse = 638.975
	ET: r2 = 1.000, rmse = 0.045
	TF: r2 = 0.808, rmse = 1001.018
run = 86
	RF: r2 = 0.954, rmse = 489.115
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.812, rmse = 991.227
run = 87
	RF: r2 = 0.945, rmse = 537.078
	ET: r2 = 1.000, rmse = 0.070
	TF: r2 = 0.812, rmse = 992.165
run = 88
	RF: r2 = 0.931, rmse = 600.524
	ET: r2 = 1.000, rmse = 0.057
	TF: r2 = 0.811, rmse = 993.742
run = 89
	RF: r2 = 0.948, rmse = 521.830
	ET: r2 = 1.000, rmse = 0.052
	TF: r2 = 0.810, rmse = 996.236
run = 90
	RF: r2 = 0.947, rmse = 525.568
	ET: r2 = 1.000, rmse = 0.067
	TF: r2 = 0.813, rmse = 987.928
run = 91
	RF: r2 = 0.953, rmse = 496.837
	ET: r2 = 1.000, rmse = 0.077
	TF: r2 = 0.807, rmse = 1005.710
run = 92
	RF: r2 = 0.953, rmse = 494.741
	ET: r2 = 1.000, rmse = 0.161
	TF: r2 = 0.812, rmse = 990.795
run = 93
	RF: r2 = 0.959, rmse = 465.640
	ET: r2 = 1.000, rmse = 0.089
	TF: r2 = 0.812, rmse = 990.644
run = 94
	RF: r2 = 0.964, rmse = 436.183
	ET: r2 = 1.000, rmse = 0.054
	TF: r2 = 0.812, rmse = 992.230
run = 95
	RF: r2 = 0.949, rmse = 515.284
	ET: r2 = 1.000, rmse = 0.018
	TF: r2 = 0.811, rmse = 994.098
run = 96
	RF: r2 = 0.932, rmse = 598.088
	ET: r2 = 1.000, rmse = 0.084
	TF: r2 = 0.807, rmse = 1005.293
run = 97
	RF: r2 = 0.956, rmse = 477.271
	ET: r2 = 1.000, rmse = 0.038
	TF: r2 = 0.811, rmse = 994.370
run = 98
	RF: r2 = 0.935, rmse = 585.029
	ET: r2 = 1.000, rmse = 0.067
	TF: r2 = 0.806, rmse = 1006.902
run = 99
	RF: r2 = 0.935, rmse = 584.088
	ET: r2 = 1.000, rmse = 0.102
	TF: r2 = 0.810, rmse = 996.058

## Prepare for submission

In [12]:
# target end dates
cur_dt = datetime.strptime(steps[cur_idx], '%Y-%m-%d')
fc_dt = (cur_dt + timedelta(days=1)).date()
nxt_dt_1 = (cur_dt + timedelta(days=7)).date()
nxt_dt_2 = (cur_dt + timedelta(days=14)).date()
nxt_dts = [nxt_dt_1, nxt_dt_2]

# quantiles
qs = [.025, .1, .25, .5, .75, .9, .975]

In [13]:
df_county_prd_1 = pd.DataFrame(data=np.array(prds_1).T, index=df.index, columns=range(num_runs))
df_county_prd_2 = pd.DataFrame(data=np.array(prds_2).T, index=df.index, columns=range(num_runs))
county_dfs = [df_county_prd_1, df_county_prd_2]

### County

In [14]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    csv_fname = f'results/{steps[cur_idx]}_county_case_{w}-wk_{num_runs}.csv'
    county_df.to_csv(csv_fname, float_format='%.2f')
    
    # ========================= Point esitmate =========================START
    df_point = county_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'fips': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = county_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['fips']).sort_values('fips')\
        .rename(columns={'fips': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_county = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
print(df_forecast_county.shape)
df_forecast_county.head()

(49504, 6)

  location       value   type quantile               target target_end_date
0    01001  408.078304  point       NA  1 wk ahead inc case      2020-12-26
1    01003  862.015414  point       NA  1 wk ahead inc case      2020-12-26
2    01005   71.675797  point       NA  1 wk ahead inc case      2020-12-26
3    01007  167.599239  point       NA  1 wk ahead inc case      2020-12-26
4    01009  314.327388  point       NA  1 wk ahead inc case      2020-12-26

### State

In [15]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    
    df_tmp = county_df.reset_index()
    df_tmp['state'] = df_tmp['fips'].apply(lambda x: x[:2])
    state_df = df_tmp.groupby(by='state').sum()
    
    # ========================= Point esitmate =========================START
    df_point = state_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'state': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = state_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['state']).sort_values('state')\
        .rename(columns={'state': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_state = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
df_forecast_state.head()

  location          value   type quantile               target target_end_date
0       01   22682.906968  point       NA  1 wk ahead inc case      2020-12-26
1       02    2588.658755  point       NA  1 wk ahead inc case      2020-12-26
2       04   36449.680805  point       NA  1 wk ahead inc case      2020-12-26
3       05   13588.434289  point       NA  1 wk ahead inc case      2020-12-26
4       06  250274.664117  point       NA  1 wk ahead inc case      2020-12-26

### Nation

In [16]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    
    nation_df = pd.DataFrame(data=county_df.sum(axis=0), columns=['US']).T
    nation_df.index.name = 'nation'
    
    # ========================= Point esitmate =========================START
    df_point = nation_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'nation': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = nation_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['nation']).sort_values('nation')\
        .rename(columns={'nation': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_nation = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
df_forecast_nation

,location,value,type,quantile,target,target_end_date
0,US,1.351637e+06,point,NA,1 wk ahead inc case,2020-12-26
1,US,1.347077e+06,quantile,0.025,1 wk ahead inc case,2020-12-26
2,US,1.348144e+06,quantile,0.1,1 wk ahead inc case,2020-12-26
3,US,1.350218e+06,quantile,0.25,1 wk ahead inc case,2020-12-26
4,US,1.351777e+06,quantile,0.5,1 wk ahead inc case,2020-12-26
5,US,1.353573e+06,quantile,0.75,1 wk ahead inc case,2020-12-26
6,US,1.354545e+06,quantile,0.9,1 wk ahead inc case,2020-12-26
7,US,1.355256e+06,quantile,0.975,1 wk ahead inc case,2020-12-26
8,US,1.320004e+06,point,NA,2 wk ahead inc case,2021-01-02
9,US,1.313266e+06,quantile,0.025,2 wk ahead inc case,2021-01-02
10,US,1.315521e+06,quantile,0.1,2 wk ahead inc case,2021-01-02
11,US,1.317945e+06,quantile,0.25,2 wk ahead inc case,2021-01-02
12,US,1.320380e+06,quantile,0.5,2 wk ahead inc case,2021-01-02
13,US,1.322374e+06,quantile,0.75,2 wk ahead inc case,2021-01-02
14,US,1.323570e+06,quantile,0.9,2 wk ahead inc case,2021-01-02
15,US,1.326058e+06,quantile,0.975,2 wk ahead inc case,2021-01-02

In [17]:
df_forecast = pd.concat([df_forecast_county, df_forecast_state, df_forecast_nation])
df_forecast.reset_index(drop=True, inplace=True)
df_forecast['forecast_date'] = fc_dt
cols = ['forecast_date', 'target', 'target_end_date', 'location', 'type', 'quantile', 'value']
df_forecast = df_forecast[cols]

# =============== make nagative value zero ==============
value_dezero = df_forecast['value']
value_dezero[value_dezero < 0]  = 0
df_forecast['value'] = value_dezero

In [18]:
team = 'UChicagoCHATTOPADHYAY'
model = 'UnIT'
df_forecast.to_csv(f'results/{fc_dt}-{team}-{model}_case.csv', float_format='%.2f', index=False)