In [41]:
import pandas as pd
import numpy as np
from datetime import *
from glob import glob

In [2]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print(tf.__version__)

2.1.0

In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import r2_score

In [4]:
import pylab as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

## Get data

In [5]:
with open('pipeline_data/steps.dat', 'r') as handle:
    steps = handle.readline().strip().split()

In [42]:
csv_fname = glob('pipeline_data/data_????-??-??_glm.csv')[0]
df = pd.read_csv(csv_fname, dtype={'fips': str}).set_index('fips')
df.head()

,case0,case1,case2,case3,case4,case5,case6,case7,case8,case9,...,death21_glm,death22_glm,death23_glm,death24_glm,death25_glm,death26_glm,death27_glm,death28_glm,death29_glm,death30_glm
fips,,,,,,,,,,,,,,,,,,,,,
01001,12.0,7.0,6.0,11.0,9.0,23.0,42.0,45.0,61.0,43.0,...,1.62,1.37,1.31,1.62,1.34,1.38,1.51,1.36,1.86,1.91
01003,29.0,37.0,43.0,38.0,34.0,35.0,38.0,19.0,10.0,21.0,...,2.97,2.56,2.19,2.64,2.41,2.15,2.26,2.62,3.22,3.18
01005,2.0,7.0,9.0,14.0,11.0,15.0,21.0,26.0,45.0,40.0,...,1.41,0.96,1.19,1.45,1.01,0.89,0.91,0.67,0.74,0.58
01007,4.0,9.0,13.0,8.0,8.0,3.0,5.0,8.0,14.0,5.0,...,0.76,0.59,0.65,0.80,0.62,0.67,0.76,0.60,0.79,0.84
01009,10.0,2.0,8.0,11.0,9.0,4.0,1.0,4.0,12.0,9.0,...,0.71,0.65,0.58,0.71,0.53,0.55,0.61,0.62,0.79,0.89

## Functions

In [7]:
class tfRegr:
    
    def __init__(self, 
                 epoch=100, 
                 verbose=False, 
                 validation_split=0.2, 
                 learning_rate=.1):
        
        self.normalizer = preprocessing.Normalization()
        self.ep = epoch
        self.vb = verbose
        self.vs = validation_split
        self.lr = learning_rate
    
    def fit(self, X, y):
        self.normalizer.adapt(X)

        self.model = tf.keras.Sequential([
            self.normalizer,
            layers.Dense(units=1)
        ])

        self.model.compile(
            optimizer=tf.optimizers.Adam(learning_rate=self.lr),
            loss='mean_absolute_error'
        )

        self.history = self.model.fit(
            X, y,
            epochs=self.ep,
            verbose=self.vb, # logging
            validation_split=self.vs # Calculate validation results on a fraction of the training data
        )
        return self.model

In [8]:
def predict(df, cur_idx):

    regrs = {
        'RF': RandomForestRegressor(min_samples_split=2), 
        'ET': ExtraTreesRegressor(min_samples_split=2), 
        'TF': tfRegr(),
    }
    
    cur = f'case{cur_idx}'

    glm = [f'case{cur_idx - 1}_glm', f'case{cur_idx}_glm'] 
    cols = [f'case{cur_idx - 1}'] + glm
    X, y = df[cols].values, df[cur].values 
    
    
    for name, regr in regrs.items():
        regr = regr.fit(X, y)

        #================ Evaluation ===============START
        y_pred = regr.predict(X).flatten()
        r2 = r2_score(y, y_pred)
        rmse = np.sqrt(((y - y_pred) ** 2).mean())
        print(f'\t{name}: r2 = {r2:.3f}, rmse = {rmse:.3f}')
        #================ Evaluation ===============START
        
        cols = [cur] + glm
        df[cur + f'_{name}_1'] = regr.predict(df[cols].values).flatten()
        
        cols = [cur + f'_{name}_1'] + glm
        df[cur + f'_{name}_2'] = regr.predict(df[cols].values).flatten()
    
    prd_cols_1 = [col for col in df.columns if col.endswith('_1')]
    prd_cols_2 = [col for col in df.columns if col.endswith('_2')]
    prd_1 = df[prd_cols_1].mean(axis=1).values
    prd_2 = df[prd_cols_2].mean(axis=1).values
    
    df.drop(prd_cols_1 + prd_cols_2, axis=1, inplace=True)
    
    return prd_1, prd_2

## Forecast Runs

In [9]:
cur_idx = len(steps) - 1

num_runs = 100
prds_1, prds_2 = [], []

for r in range(num_runs):
    print(f'run = {r}')
    prd_1, prd_2 = predict(df, cur_idx)
    prds_1.append(prd_1)
    prds_2.append(prd_2)

run = 0
	RF: r2 = 0.962, rmse = 103.120
	ET: r2 = 1.000, rmse = 0.053
	TF: r2 = 0.865, rmse = 194.938
run = 1
	RF: r2 = 0.953, rmse = 115.128
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.470
run = 2
	RF: r2 = 0.973, rmse = 87.554
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.863, rmse = 195.822
run = 3
	RF: r2 = 0.940, rmse = 130.241
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.866, rmse = 193.751
run = 4
	RF: r2 = 0.976, rmse = 82.145
	ET: r2 = 1.000, rmse = 0.130
	TF: r2 = 0.865, rmse = 194.527
run = 5
	RF: r2 = 0.926, rmse = 144.463
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.528
run = 6
	RF: r2 = 0.936, rmse = 134.474
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.866, rmse = 193.891
run = 7
	RF: r2 = 0.964, rmse = 100.195
	ET: r2 = 1.000, rmse = 0.146
	TF: r2 = 0.864, rmse = 195.508
run = 8
	RF: r2 = 0.950, rmse = 118.387
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.865, rmse = 194.639
run = 9
	RF: r2 = 0.956, rmse = 110.835
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.653
run = 10
	RF: r2 = 0.955, rmse = 112.969
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.866, rmse = 193.881
run = 11
	RF: r2 = 0.957, rmse = 109.523
	ET: r2 = 1.000, rmse = 0.154
	TF: r2 = 0.866, rmse = 193.795
run = 12
	RF: r2 = 0.947, rmse = 122.534
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.852
run = 13
	RF: r2 = 0.938, rmse = 131.722
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.864, rmse = 195.682
run = 14
	RF: r2 = 0.964, rmse = 100.826
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.865, rmse = 194.792
run = 15
	RF: r2 = 0.929, rmse = 141.467
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.866, rmse = 194.312
run = 16
	RF: r2 = 0.979, rmse = 77.353
	ET: r2 = 1.000, rmse = 0.037
	TF: r2 = 0.866, rmse = 194.179
run = 17
	RF: r2 = 0.983, rmse = 68.471
	ET: r2 = 1.000, rmse = 0.074
	TF: r2 = 0.866, rmse = 194.162
run = 18
	RF: r2 = 0.973, rmse = 87.042
	ET: r2 = 1.000, rmse = 0.121
	TF: r2 = 0.866, rmse = 194.323
run = 19
	RF: r2 = 0.967, rmse = 96.426
	ET: r2 = 1.000, rmse = 0.151
	TF: r2 = 0.865, rmse = 194.937
run = 20
	RF: r2 = 0.972, rmse = 88.232
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.867, rmse = 193.163
run = 21
	RF: r2 = 0.960, rmse = 105.726
	ET: r2 = 1.000, rmse = 0.151
	TF: r2 = 0.865, rmse = 194.545
run = 22
	RF: r2 = 0.962, rmse = 103.833
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.645
run = 23
	RF: r2 = 0.977, rmse = 80.832
	ET: r2 = 1.000, rmse = 0.075
	TF: r2 = 0.866, rmse = 194.229
run = 24
	RF: r2 = 0.974, rmse = 84.713
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.865, rmse = 194.911
run = 25
	RF: r2 = 0.949, rmse = 120.178
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.864, rmse = 195.132
run = 26
	RF: r2 = 0.985, rmse = 65.192
	ET: r2 = 1.000, rmse = 0.112
	TF: r2 = 0.866, rmse = 194.030
run = 27
	RF: r2 = 0.965, rmse = 98.870
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.111
run = 28
	RF: r2 = 0.961, rmse = 104.668
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.863, rmse = 195.956
run = 29
	RF: r2 = 0.972, rmse = 89.153
	ET: r2 = 1.000, rmse = 0.132
	TF: r2 = 0.865, rmse = 194.800
run = 30
	RF: r2 = 0.980, rmse = 74.778
	ET: r2 = 1.000, rmse = 0.010
	TF: r2 = 0.863, rmse = 196.195
run = 31
	RF: r2 = 0.978, rmse = 78.132
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.733
run = 32
	RF: r2 = 0.954, rmse = 114.119
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.864, rmse = 195.131
run = 33
	RF: r2 = 0.947, rmse = 121.985
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.286
run = 34
	RF: r2 = 0.964, rmse = 101.089
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.396
run = 35
	RF: r2 = 0.956, rmse = 111.724
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.184
run = 36
	RF: r2 = 0.971, rmse = 89.706
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.522
run = 37
	RF: r2 = 0.953, rmse = 114.681
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.866, rmse = 194.049
run = 38
	RF: r2 = 0.954, rmse = 113.631
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.328
run = 39
	RF: r2 = 0.967, rmse = 96.599
	ET: r2 = 1.000, rmse = 0.075
	TF: r2 = 0.864, rmse = 195.548
run = 40
	RF: r2 = 0.951, rmse = 117.809
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.523
run = 41
	RF: r2 = 0.969, rmse = 93.373
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.866, rmse = 194.065
run = 42
	RF: r2 = 0.954, rmse = 113.688
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.653
run = 43
	RF: r2 = 0.973, rmse = 87.584
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.606
run = 44
	RF: r2 = 0.974, rmse = 85.837
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.481
run = 45
	RF: r2 = 0.962, rmse = 103.800
	ET: r2 = 1.000, rmse = 0.028
	TF: r2 = 0.865, rmse = 195.017
run = 46
	RF: r2 = 0.963, rmse = 102.478
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.863, rmse = 196.073
run = 47
	RF: r2 = 0.964, rmse = 100.055
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.865, rmse = 194.472
run = 48
	RF: r2 = 0.969, rmse = 92.793
	ET: r2 = 1.000, rmse = 0.048
	TF: r2 = 0.864, rmse = 195.684
run = 49
	RF: r2 = 0.970, rmse = 91.613
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.864, rmse = 195.689
run = 50
	RF: r2 = 0.966, rmse = 97.369
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 195.023
run = 51
	RF: r2 = 0.947, rmse = 121.836
	ET: r2 = 1.000, rmse = 0.121
	TF: r2 = 0.866, rmse = 194.305
run = 52
	RF: r2 = 0.979, rmse = 77.061
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.865, rmse = 194.472
run = 53
	RF: r2 = 0.963, rmse = 102.045
	ET: r2 = 1.000, rmse = 0.003
	TF: r2 = 0.865, rmse = 194.868
run = 54
	RF: r2 = 0.951, rmse = 116.742
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.405
run = 55
	RF: r2 = 0.970, rmse = 91.790
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.865, rmse = 194.505
run = 56
	RF: r2 = 0.980, rmse = 74.965
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.369
run = 57
	RF: r2 = 0.976, rmse = 81.862
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.864, rmse = 195.526
run = 58
	RF: r2 = 0.952, rmse = 116.622
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.862, rmse = 196.496
run = 59
	RF: r2 = 0.977, rmse = 80.294
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.756
run = 60
	RF: r2 = 0.986, rmse = 63.620
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.777
run = 61
	RF: r2 = 0.980, rmse = 75.805
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.214
run = 62
	RF: r2 = 0.976, rmse = 81.642
	ET: r2 = 1.000, rmse = 0.190
	TF: r2 = 0.866, rmse = 194.244
run = 63
	RF: r2 = 0.973, rmse = 86.943
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.865, rmse = 194.470
run = 64
	RF: r2 = 0.970, rmse = 91.498
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.865, rmse = 194.728
run = 65
	RF: r2 = 0.978, rmse = 78.907
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.181
run = 66
	RF: r2 = 0.969, rmse = 92.890
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.633
run = 67
	RF: r2 = 0.965, rmse = 99.341
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.862, rmse = 196.678
run = 68
	RF: r2 = 0.963, rmse = 101.866
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.865, rmse = 194.992
run = 69
	RF: r2 = 0.960, rmse = 105.907
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.879
run = 70
	RF: r2 = 0.981, rmse = 73.649
	ET: r2 = 1.000, rmse = 0.348
	TF: r2 = 0.864, rmse = 195.427
run = 71
	RF: r2 = 0.948, rmse = 120.313
	ET: r2 = 1.000, rmse = 0.195
	TF: r2 = 0.866, rmse = 194.050
run = 72
	RF: r2 = 0.961, rmse = 104.164
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.864, rmse = 195.509
run = 73
	RF: r2 = 0.969, rmse = 92.763
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.866, rmse = 194.247
run = 74
	RF: r2 = 0.961, rmse = 104.837
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.865, rmse = 194.758
run = 75
	RF: r2 = 0.958, rmse = 108.114
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.866, rmse = 193.922
run = 76
	RF: r2 = 0.973, rmse = 87.783
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.164
run = 77
	RF: r2 = 0.968, rmse = 94.218
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.247
run = 78
	RF: r2 = 0.953, rmse = 114.366
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.281
run = 79
	RF: r2 = 0.975, rmse = 83.972
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.862, rmse = 196.581
run = 80

	RF: r2 = 0.964, rmse = 100.281
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.866, rmse = 194.281
run = 81
	RF: r2 = 0.977, rmse = 81.138
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.865, rmse = 194.359
run = 82
	RF: r2 = 0.955, rmse = 112.822
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.864, rmse = 195.598
run = 83
	RF: r2 = 0.946, rmse = 123.237
	ET: r2 = 1.000, rmse = 0.118
	TF: r2 = 0.865, rmse = 194.371
run = 84
	RF: r2 = 0.972, rmse = 88.853
	ET: r2 = 1.000, rmse = 0.041
	TF: r2 = 0.866, rmse = 193.993
run = 85
	RF: r2 = 0.955, rmse = 112.745
	ET: r2 = 1.000, rmse = 0.080
	TF: r2 = 0.864, rmse = 195.268
run = 86
	RF: r2 = 0.970, rmse = 91.841
	ET: r2 = 1.000, rmse = 0.041
	TF: r2 = 0.866, rmse = 194.304
run = 87
	RF: r2 = 0.978, rmse = 77.811
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.864, rmse = 195.292
run = 88
	RF: r2 = 0.975, rmse = 84.355
	ET: r2 = 1.000, rmse = 0.020
	TF: r2 = 0.865, rmse = 195.004
run = 89
	RF: r2 = 0.983, rmse = 69.444
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.564
run = 90
	RF: r2 = 0.976, rmse = 82.843
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.866, rmse = 194.182
run = 91
	RF: r2 = 0.980, rmse = 74.663
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.864, rmse = 195.537
run = 92
	RF: r2 = 0.944, rmse = 124.941
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.865, rmse = 194.508
run = 93
	RF: r2 = 0.965, rmse = 99.790
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.866, rmse = 194.061
run = 94
	RF: r2 = 0.941, rmse = 128.454
	ET: r2 = 1.000, rmse = 0.156
	TF: r2 = 0.864, rmse = 195.441
run = 95
	RF: r2 = 0.981, rmse = 73.361
	ET: r2 = 1.000, rmse = 0.045
	TF: r2 = 0.865, rmse = 194.526
run = 96
	RF: r2 = 0.959, rmse = 106.773
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.865, rmse = 194.676
run = 97
	RF: r2 = 0.961, rmse = 104.703
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.866, rmse = 194.300
run = 98
	RF: r2 = 0.954, rmse = 113.526
	ET: r2 = 1.000, rmse = 0.035
	TF: r2 = 0.864, rmse = 195.069
run = 99
	RF: r2 = 0.960, rmse = 105.550
	ET: r2 = 1.000, rmse = 0.028
	TF: r2 = 0.866, rmse = 193.981

## Prepare for submission

In [18]:
# target end dates
cur_dt = datetime.strptime(steps[cur_idx], '%Y-%m-%d')
fc_dt = (cur_dt + timedelta(days=1)).date()
nxt_dt_1 = (cur_dt + timedelta(days=7)).date()
nxt_dt_2 = (cur_dt + timedelta(days=14)).date()
nxt_dts = [nxt_dt_1, nxt_dt_2]

# quantiles
qs = [.025, .1, .25, .5, .75, .9, .975]

In [19]:
df_county_prd_1 = pd.DataFrame(data=np.array(prds_1).T, index=df.index, columns=range(num_runs))
df_county_prd_2 = pd.DataFrame(data=np.array(prds_2).T, index=df.index, columns=range(num_runs))
county_dfs = [df_county_prd_1, df_county_prd_2]

### County

In [20]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    csv_fname = f'results/{steps[cur_idx]}_county_case_{w}-wk_{num_runs}.csv'
    county_df.to_csv(csv_fname, float_format='%.2f')
    
    # ========================= Point esitmate =========================START
    df_point = county_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'fips': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = county_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['fips']).sort_values('fips')\
        .rename(columns={'fips': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_county = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
print(df_forecast_county.shape)
df_forecast_county.head()

(49504, 6)

  location quantile   type       value               target target_end_date
0    01001       NA  point  138.926457  1 wk ahead inc case      2020-11-07
1    01003       NA  point  346.417971  1 wk ahead inc case      2020-11-07
2    01005       NA  point   41.863493  1 wk ahead inc case      2020-11-07
3    01007       NA  point   53.979329  1 wk ahead inc case      2020-11-07
4    01009       NA  point  149.629784  1 wk ahead inc case      2020-11-07

### States

In [21]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    
    df_tmp = county_df.reset_index()
    df_tmp['state'] = df_tmp['fips'].apply(lambda x: x[:2])
    state_df = df_tmp.groupby(by='state').sum()
    
    # ========================= Point esitmate =========================START
    df_point = state_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'state': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = state_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['state']).sort_values('state')\
        .rename(columns={'state': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_state = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
df_forecast_state.head()

  location quantile   type         value               target target_end_date
0       01       NA  point   9749.310709  1 wk ahead inc case      2020-11-07
1       02       NA  point   2976.260653  1 wk ahead inc case      2020-11-07
2       04       NA  point  11392.797700  1 wk ahead inc case      2020-11-07
3       05       NA  point   7337.884438  1 wk ahead inc case      2020-11-07
4       06       NA  point  33490.348047  1 wk ahead inc case      2020-11-07

### Nation

In [22]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    
    nation_df = pd.DataFrame(data=county_df.sum(axis=0), columns=['US']).T
    nation_df.index.name = 'nation'
    
    # ========================= Point esitmate =========================START
    df_point = nation_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'nation': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = nation_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['nation']).sort_values('nation')\
        .rename(columns={'nation': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_nation = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
df_forecast_nation

,location,quantile,type,value,target,target_end_date
0,US,NA,point,613948.226852,1 wk ahead inc case,2020-11-07
1,US,0.025,quantile,610111.834388,1 wk ahead inc case,2020-11-07
2,US,0.1,quantile,611281.290975,1 wk ahead inc case,2020-11-07
3,US,0.25,quantile,612676.575161,1 wk ahead inc case,2020-11-07
4,US,0.5,quantile,613937.876596,1 wk ahead inc case,2020-11-07
5,US,0.75,quantile,615452.648992,1 wk ahead inc case,2020-11-07
6,US,0.9,quantile,616210.901373,1 wk ahead inc case,2020-11-07
7,US,0.975,quantile,617696.857136,1 wk ahead inc case,2020-11-07
8,US,NA,point,681559.598751,2 wk ahead inc case,2020-11-14
9,US,0.025,quantile,674083.687143,2 wk ahead inc case,2020-11-14
10,US,0.1,quantile,675918.885020,2 wk ahead inc case,2020-11-14
11,US,0.25,quantile,679041.151349,2 wk ahead inc case,2020-11-14
12,US,0.5,quantile,681758.868306,2 wk ahead inc case,2020-11-14
13,US,0.75,quantile,684193.540312,2 wk ahead inc case,2020-11-14
14,US,0.9,quantile,686576.519656,2 wk ahead inc case,2020-11-14
15,US,0.975,quantile,688790.985114,2 wk ahead inc case,2020-11-14

In [38]:
df_forecast = pd.concat([df_forecast_county, df_forecast_state, df_forecast_nation])
df_forecast.reset_index(drop=True, inplace=True)
df_forecast['forecast_date'] = fc_dt
cols = ['forecast_date', 'target', 'target_end_date', 'location', 'type', 'quantile', 'value']
df_forecast = df_forecast[cols]

# =============== make nagative value zero ==============
value_dezero = df_forecast['value']
value_dezero[value_dezero < 0]  = 0
df_forecast['value'] = value_dezero

In [40]:
team = 'UChicagoCHATTOPADHYAY'
model = 'UnIT'
df_forecast.to_csv(f'submission/{fc_dt}-{team}-{model}.csv', float_format='%.2f', index=False)