In [1]:
import pandas as pd
import numpy as np
from datetime import *
from glob import glob

In [2]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print(tf.__version__)

2.1.0

In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import r2_score

In [4]:
import pylab as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

## Get data

In [5]:
with open('pipeline_data/steps.dat', 'r') as handle:
    steps = handle.readline().strip().split()

In [6]:
csv_fname = glob('pipeline_data/data_????-??-??_glm.csv')[0]
df = pd.read_csv(csv_fname, dtype={'fips': str}).set_index('fips')
df.head()

,case0,case1,case2,case3,case4,case5,case6,case7,case8,case9,...,death24_glm,death25_glm,death26_glm,death27_glm,death28_glm,death29_glm,death30_glm,death31_glm,death32_glm,death33_glm
fips,,,,,,,,,,,,,,,,,,,,,
01001,12.0,7.0,6.0,11.0,11.0,16.0,45.0,48.0,60.0,48.0,...,1.63,1.36,1.39,1.51,1.41,1.89,1.93,2.58,2.54,3.32
01003,34.0,36.0,40.0,45.0,30.0,34.0,42.0,19.0,12.0,29.0,...,2.66,2.42,2.17,2.28,2.69,3.30,3.21,3.52,4.07,5.29
01005,3.0,7.0,8.0,16.0,9.0,14.0,24.0,27.0,47.0,41.0,...,1.44,1.01,0.89,0.89,0.66,0.71,0.58,1.07,0.68,0.85
01007,4.0,9.0,13.0,8.0,7.0,4.0,7.0,7.0,15.0,5.0,...,0.80,0.64,0.68,0.76,0.61,0.79,0.84,1.30,1.06,1.32
01009,12.0,3.0,9.0,12.0,6.0,5.0,2.0,3.0,13.0,11.0,...,0.71,0.54,0.57,0.62,0.64,0.80,0.89,1.08,1.07,1.22

## Functions

In [7]:
class tfRegr:
    
    def __init__(self, 
                 epoch=100, 
                 verbose=False, 
                 validation_split=0.2, 
                 learning_rate=.1):
        
        self.normalizer = preprocessing.Normalization()
        self.ep = epoch
        self.vb = verbose
        self.vs = validation_split
        self.lr = learning_rate
    
    def fit(self, X, y):
        self.normalizer.adapt(X)

        self.model = tf.keras.Sequential([
            self.normalizer,
            layers.Dense(units=1)
        ])

        self.model.compile(
            optimizer=tf.optimizers.Adam(learning_rate=self.lr),
            loss='mean_absolute_error'
        )

        self.history = self.model.fit(
            X, y,
            epochs=self.ep,
            verbose=self.vb, # logging
            validation_split=self.vs # Calculate validation results on a fraction of the training data
        )
        return self.model

In [8]:
def predict(df, cur_idx):

    regrs = {
        'RF': RandomForestRegressor(min_samples_split=2), 
        'ET': ExtraTreesRegressor(min_samples_split=2), 
        'TF': tfRegr(),
    }
    
    cur = f'case{cur_idx}'

    glm = [f'case{cur_idx - 1}_glm', f'case{cur_idx}_glm'] 
    cols = [f'case{cur_idx - 1}'] + glm
    X, y = df[cols].values, df[cur].values 
    
    
    for name, regr in regrs.items():
        regr = regr.fit(X, y)

        #================ Evaluation ===============START
        y_pred = regr.predict(X).flatten()
        r2 = r2_score(y, y_pred)
        rmse = np.sqrt(((y - y_pred) ** 2).mean())
        print(f'\t{name}: r2 = {r2:.3f}, rmse = {rmse:.3f}')
        #================ Evaluation ===============START
        
        cols = [cur] + glm
        df[cur + f'_{name}_1'] = regr.predict(df[cols].values).flatten()
        
        cols = [cur + f'_{name}_1'] + glm
        df[cur + f'_{name}_2'] = regr.predict(df[cols].values).flatten()
    
    prd_cols_1 = [col for col in df.columns if col.endswith('_1')]
    prd_cols_2 = [col for col in df.columns if col.endswith('_2')]
    prd_1 = df[prd_cols_1].mean(axis=1).values
    prd_2 = df[prd_cols_2].mean(axis=1).values
    
    df.drop(prd_cols_1 + prd_cols_2, axis=1, inplace=True)
    
    return prd_1, prd_2

## Forecast Runs

In [9]:
cur_idx = len(steps) - 1
print(steps[cur_idx])

num_runs = 100
prds_1, prds_2 = [], []

for r in range(num_runs):
    print(f'run = {r}')
    prd_1, prd_2 = predict(df, cur_idx)
    prds_1.append(prd_1)
    prds_2.append(prd_2)

2020-11-21
run = 0
	RF: r2 = 0.974, rmse = 181.040
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.961
run = 1
	RF: r2 = 0.966, rmse = 206.049
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.921
run = 2
	RF: r2 = 0.980, rmse = 157.083
	ET: r2 = 1.000, rmse = 0.062
	TF: r2 = 0.911, rmse = 334.929
run = 3
	RF: r2 = 0.978, rmse = 166.861
	ET: r2 = 1.000, rmse = 0.078
	TF: r2 = 0.911, rmse = 334.520
run = 4
	RF: r2 = 0.964, rmse = 212.372
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.645
run = 5
	RF: r2 = 0.972, rmse = 189.066
	ET: r2 = 1.000, rmse = 0.064
	TF: r2 = 0.911, rmse = 333.949
run = 6
	RF: r2 = 0.978, rmse = 165.929
	ET: r2 = 1.000, rmse = 0.005
	TF: r2 = 0.908, rmse = 339.391
run = 7
	RF: r2 = 0.981, rmse = 153.883
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.909, rmse = 337.817
run = 8
	RF: r2 = 0.979, rmse = 161.483
	ET: r2 = 1.000, rmse = 0.060
	TF: r2 = 0.911, rmse = 334.656
run = 9
	RF: r2 = 0.977, rmse = 168.856
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 335.442
run = 10
	RF: r2 = 0.979, rmse = 164.231
	ET: r2 = 1.000, rmse = 0.033
	TF: r2 = 0.911, rmse = 335.085
run = 11
	RF: r2 = 0.960, rmse = 223.554
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.627
run = 12
	RF: r2 = 0.959, rmse = 225.698
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.908, rmse = 339.809
run = 13
	RF: r2 = 0.983, rmse = 148.233
	ET: r2 = 1.000, rmse = 0.054
	TF: r2 = 0.910, rmse = 335.529
run = 14
	RF: r2 = 0.969, rmse = 197.864
	ET: r2 = 1.000, rmse = 0.064
	TF: r2 = 0.911, rmse = 333.888
run = 15
	RF: r2 = 0.966, rmse = 207.435
	ET: r2 = 1.000, rmse = 0.109
	TF: r2 = 0.910, rmse = 335.814
run = 16
	RF: r2 = 0.964, rmse = 212.710
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 336.619
run = 17
	RF: r2 = 0.970, rmse = 195.260
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.646
run = 18
	RF: r2 = 0.983, rmse = 144.174
	ET: r2 = 1.000, rmse = 0.086
	TF: r2 = 0.910, rmse = 335.963
run = 19
	RF: r2 = 0.974, rmse = 180.073
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 336.759
run = 20
	RF: r2 = 0.959, rmse = 226.701
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.604
run = 21
	RF: r2 = 0.972, rmse = 188.658
	ET: r2 = 1.000, rmse = 0.026
	TF: r2 = 0.910, rmse = 335.906
run = 22
	RF: r2 = 0.940, rmse = 274.412
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.909, rmse = 337.529
run = 23
	RF: r2 = 0.983, rmse = 145.735
	ET: r2 = 1.000, rmse = 0.027
	TF: r2 = 0.911, rmse = 335.142
run = 24
	RF: r2 = 0.959, rmse = 226.973
	ET: r2 = 1.000, rmse = 0.070
	TF: r2 = 0.912, rmse = 332.524
run = 25
	RF: r2 = 0.984, rmse = 142.321
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.653
run = 26
	RF: r2 = 0.983, rmse = 147.749
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 336.133
run = 27
	RF: r2 = 0.964, rmse = 213.654
	ET: r2 = 1.000, rmse = 0.082
	TF: r2 = 0.910, rmse = 336.060
run = 28
	RF: r2 = 0.927, rmse = 303.888
	ET: r2 = 1.000, rmse = 0.027
	TF: r2 = 0.911, rmse = 334.621
run = 29
	RF: r2 = 0.990, rmse = 113.670
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.212
run = 30
	RF: r2 = 0.967, rmse = 202.939
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 336.329
run = 31
	RF: r2 = 0.960, rmse = 225.664
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.909, rmse = 337.765
run = 32
	RF: r2 = 0.969, rmse = 198.041
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.912, rmse = 333.524
run = 33
	RF: r2 = 0.949, rmse = 252.693
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 335.284
run = 34
	RF: r2 = 0.977, rmse = 170.203
	ET: r2 = 1.000, rmse = 0.223
	TF: r2 = 0.910, rmse = 336.423
run = 35
	RF: r2 = 0.975, rmse = 177.536
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.915
run = 36
	RF: r2 = 0.978, rmse = 165.144
	ET: r2 = 1.000, rmse = 0.071
	TF: r2 = 0.911, rmse = 335.371
run = 37
	RF: r2 = 0.962, rmse = 218.933
	ET: r2 = 1.000, rmse = 0.137
	TF: r2 = 0.911, rmse = 334.714
run = 38
	RF: r2 = 0.966, rmse = 206.180
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.579
run = 39
	RF: r2 = 0.981, rmse = 154.683
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 335.413
run = 40
	RF: r2 = 0.960, rmse = 224.660
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 336.650
run = 41
	RF: r2 = 0.973, rmse = 183.390
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 337.094
run = 42
	RF: r2 = 0.975, rmse = 176.410
	ET: r2 = 1.000, rmse = 0.088
	TF: r2 = 0.911, rmse = 335.180
run = 43
	RF: r2 = 0.987, rmse = 129.281
	ET: r2 = 1.000, rmse = 0.093
	TF: r2 = 0.911, rmse = 334.657
run = 44
	RF: r2 = 0.969, rmse = 198.263
	ET: r2 = 1.000, rmse = 0.070
	TF: r2 = 0.910, rmse = 336.294
run = 45
	RF: r2 = 0.974, rmse = 180.630
	ET: r2 = 1.000, rmse = 0.064
	TF: r2 = 0.911, rmse = 335.360
run = 46
	RF: r2 = 0.936, rmse = 283.086
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.775
run = 47
	RF: r2 = 0.965, rmse = 210.272
	ET: r2 = 1.000, rmse = 0.025
	TF: r2 = 0.910, rmse = 335.608
run = 48
	RF: r2 = 0.976, rmse = 174.617
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 336.029
run = 49
	RF: r2 = 0.977, rmse = 170.557
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.618
run = 50
	RF: r2 = 0.952, rmse = 245.369
	ET: r2 = 1.000, rmse = 0.027
	TF: r2 = 0.911, rmse = 335.383
run = 51
	RF: r2 = 0.978, rmse = 164.759
	ET: r2 = 1.000, rmse = 0.038
	TF: r2 = 0.911, rmse = 334.226
run = 52
	RF: r2 = 0.974, rmse = 181.073
	ET: r2 = 1.000, rmse = 0.054
	TF: r2 = 0.910, rmse = 336.500
run = 53
	RF: r2 = 0.979, rmse = 162.316
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.633
run = 54
	RF: r2 = 0.968, rmse = 199.686
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 335.200
run = 55
	RF: r2 = 0.985, rmse = 135.581
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.513
run = 56
	RF: r2 = 0.960, rmse = 225.113
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.647
run = 57
	RF: r2 = 0.946, rmse = 261.752
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.718
run = 58
	RF: r2 = 0.986, rmse = 134.452
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 336.932
run = 59
	RF: r2 = 0.951, rmse = 248.062
	ET: r2 = 1.000, rmse = 0.025
	TF: r2 = 0.911, rmse = 334.362
run = 60
	RF: r2 = 0.951, rmse = 249.297
	ET: r2 = 1.000, rmse = 0.063
	TF: r2 = 0.910, rmse = 336.032
run = 61
	RF: r2 = 0.978, rmse = 166.361
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.909, rmse = 337.887
run = 62
	RF: r2 = 0.972, rmse = 188.376
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.375
run = 63
	RF: r2 = 0.977, rmse = 168.477
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 333.741
run = 64
	RF: r2 = 0.955, rmse = 238.787
	ET: r2 = 1.000, rmse = 0.005
	TF: r2 = 0.911, rmse = 334.350
run = 65
	RF: r2 = 0.975, rmse = 176.275
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.999
run = 66
	RF: r2 = 0.964, rmse = 213.575
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.840
run = 67
	RF: r2 = 0.958, rmse = 229.924
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 335.223
run = 68
	RF: r2 = 0.983, rmse = 144.100
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.322
run = 69
	RF: r2 = 0.961, rmse = 220.960
	ET: r2 = 1.000, rmse = 0.150
	TF: r2 = 0.911, rmse = 334.281
run = 70
	RF: r2 = 0.976, rmse = 172.264
	ET: r2 = 1.000, rmse = 0.025
	TF: r2 = 0.910, rmse = 337.225
run = 71
	RF: r2 = 0.978, rmse = 166.200
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.291
run = 72
	RF: r2 = 0.959, rmse = 227.301
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 335.213
run = 73
	RF: r2 = 0.968, rmse = 201.937
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.631
run = 74
	RF: r2 = 0.982, rmse = 152.295
	ET: r2 = 1.000, rmse = 0.005
	TF: r2 = 0.910, rmse = 335.834
run = 75
	RF: r2 = 0.986, rmse = 131.141
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 333.835
run = 76
	RF: r2 = 0.966, rmse = 206.160
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.909, rmse = 338.929
run = 77
	RF: r2 = 0.973, rmse = 185.868
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.593
run = 78
	RF: r2 = 0.959, rmse = 226.868
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 335.591
run = 79
	RF: r2 = 0.968, rmse = 201.717
	ET: r2 = 1.000, rmse = 0.000

	TF: r2 = 0.911, rmse = 334.938
run = 80
	RF: r2 = 0.956, rmse = 235.577
	ET: r2 = 1.000, rmse = 0.216
	TF: r2 = 0.911, rmse = 335.348
run = 81
	RF: r2 = 0.963, rmse = 215.197
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 333.941
run = 82
	RF: r2 = 0.981, rmse = 153.186
	ET: r2 = 1.000, rmse = 0.127
	TF: r2 = 0.909, rmse = 337.916
run = 83
	RF: r2 = 0.978, rmse = 166.313
	ET: r2 = 1.000, rmse = 0.043
	TF: r2 = 0.911, rmse = 335.183
run = 84
	RF: r2 = 0.963, rmse = 214.473
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.997
run = 85
	RF: r2 = 0.978, rmse = 165.547
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 333.640
run = 86
	RF: r2 = 0.945, rmse = 262.363
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.443
run = 87
	RF: r2 = 0.983, rmse = 147.794
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.910, rmse = 337.362
run = 88
	RF: r2 = 0.964, rmse = 211.307
	ET: r2 = 1.000, rmse = 0.070
	TF: r2 = 0.911, rmse = 334.050
run = 89
	RF: r2 = 0.963, rmse = 214.942
	ET: r2 = 1.000, rmse = 0.147
	TF: r2 = 0.911, rmse = 335.446
run = 90
	RF: r2 = 0.972, rmse = 187.025
	ET: r2 = 1.000, rmse = 0.025
	TF: r2 = 0.912, rmse = 333.164
run = 91
	RF: r2 = 0.984, rmse = 143.808
	ET: r2 = 1.000, rmse = 0.080
	TF: r2 = 0.909, rmse = 337.500
run = 92
	RF: r2 = 0.985, rmse = 135.506
	ET: r2 = 1.000, rmse = 0.070
	TF: r2 = 0.911, rmse = 335.385
run = 93
	RF: r2 = 0.957, rmse = 233.394
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 335.088
run = 94
	RF: r2 = 0.952, rmse = 244.698
	ET: r2 = 1.000, rmse = 0.161
	TF: r2 = 0.911, rmse = 334.371
run = 95
	RF: r2 = 0.982, rmse = 150.753
	ET: r2 = 1.000, rmse = 0.005
	TF: r2 = 0.911, rmse = 335.361
run = 96
	RF: r2 = 0.974, rmse = 182.192
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.923
run = 97
	RF: r2 = 0.963, rmse = 216.041
	ET: r2 = 1.000, rmse = 0.000
	TF: r2 = 0.911, rmse = 334.661
run = 98
	RF: r2 = 0.980, rmse = 156.965
	ET: r2 = 1.000, rmse = 0.005
	TF: r2 = 0.911, rmse = 333.952
run = 99
	RF: r2 = 0.929, rmse = 299.534
	ET: r2 = 1.000, rmse = 0.158
	TF: r2 = 0.911, rmse = 334.407

## Prepare for submission

In [10]:
# target end dates
cur_dt = datetime.strptime(steps[cur_idx], '%Y-%m-%d')
fc_dt = (cur_dt + timedelta(days=1)).date()
nxt_dt_1 = (cur_dt + timedelta(days=7)).date()
nxt_dt_2 = (cur_dt + timedelta(days=14)).date()
nxt_dts = [nxt_dt_1, nxt_dt_2]

# quantiles
qs = [.025, .1, .25, .5, .75, .9, .975]

In [11]:
df_county_prd_1 = pd.DataFrame(data=np.array(prds_1).T, index=df.index, columns=range(num_runs))
df_county_prd_2 = pd.DataFrame(data=np.array(prds_2).T, index=df.index, columns=range(num_runs))
county_dfs = [df_county_prd_1, df_county_prd_2]

### County

In [12]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    csv_fname = f'results/{steps[cur_idx]}_county_case_{w}-wk_{num_runs}.csv'
    county_df.to_csv(csv_fname, float_format='%.2f')
    
    # ========================= Point esitmate =========================START
    df_point = county_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'fips': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = county_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['fips']).sort_values('fips')\
        .rename(columns={'fips': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_county = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
print(df_forecast_county.shape)
df_forecast_county.head()

(49504, 6)

  location quantile   type       value               target target_end_date
0    01001       NA  point  205.146886  1 wk ahead inc case      2020-11-28
1    01003       NA  point  578.569519  1 wk ahead inc case      2020-11-28
2    01005       NA  point   31.742897  1 wk ahead inc case      2020-11-28
3    01007       NA  point   65.601499  1 wk ahead inc case      2020-11-28
4    01009       NA  point  186.931761  1 wk ahead inc case      2020-11-28

### States

In [13]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    
    df_tmp = county_df.reset_index()
    df_tmp['state'] = df_tmp['fips'].apply(lambda x: x[:2])
    state_df = df_tmp.groupby(by='state').sum()
    
    # ========================= Point esitmate =========================START
    df_point = state_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'state': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = state_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['state']).sort_values('state')\
        .rename(columns={'state': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_state = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
df_forecast_state.head()

  location quantile   type         value               target target_end_date
0       01       NA  point  16164.500262  1 wk ahead inc case      2020-11-28
1       02       NA  point   4314.260893  1 wk ahead inc case      2020-11-28
2       04       NA  point  22339.654286  1 wk ahead inc case      2020-11-28
3       05       NA  point  12394.137219  1 wk ahead inc case      2020-11-28
4       06       NA  point  96406.258957  1 wk ahead inc case      2020-11-28

### Nation

In [14]:
forecast_dfs = []

for i, county_df in enumerate(county_dfs):
    w = i + 1
    
    nation_df = pd.DataFrame(data=county_df.sum(axis=0), columns=['US']).T
    nation_df.index.name = 'nation'
    
    # ========================= Point esitmate =========================START
    df_point = nation_df.mean(axis=1).reset_index()\
        .rename(columns={0: 'value', 'nation': 'location'})
    df_point['type'] = 'point'
    df_point['quantile'] = 'NA'
    # ========================= Point esitmate =========================END

    # ========================= Quantile esitmates =========================START
    df_quantile = nation_df.quantile(qs, axis=1).T.reset_index()\
        .melt(id_vars=['nation']).sort_values('nation')\
        .rename(columns={'nation': 'location', 'variable': 'quantile'})
    df_quantile['type'] = 'quantile'
    # ========================= Quantile esitmates =========================END

    df_forecast = pd.concat([df_point, df_quantile])
    df_forecast['target'] = f'{w} wk ahead inc case'
    df_forecast['target_end_date'] = nxt_dts[i]
    
    forecast_dfs.append(df_forecast)

df_forecast_nation = pd.concat(forecast_dfs, axis=0).reset_index(drop=True)
df_forecast_nation

,location,quantile,type,value,target,target_end_date
0,US,NA,point,1.274484e+06,1 wk ahead inc case,2020-11-28
1,US,0.025,quantile,1.267036e+06,1 wk ahead inc case,2020-11-28
2,US,0.1,quantile,1.269649e+06,1 wk ahead inc case,2020-11-28
3,US,0.25,quantile,1.272020e+06,1 wk ahead inc case,2020-11-28
4,US,0.5,quantile,1.274935e+06,1 wk ahead inc case,2020-11-28
5,US,0.75,quantile,1.277231e+06,1 wk ahead inc case,2020-11-28
6,US,0.9,quantile,1.279022e+06,1 wk ahead inc case,2020-11-28
7,US,0.975,quantile,1.280772e+06,1 wk ahead inc case,2020-11-28
8,US,NA,point,1.364686e+06,2 wk ahead inc case,2020-12-05
9,US,0.025,quantile,1.351948e+06,2 wk ahead inc case,2020-12-05
10,US,0.1,quantile,1.354525e+06,2 wk ahead inc case,2020-12-05
11,US,0.25,quantile,1.359698e+06,2 wk ahead inc case,2020-12-05
12,US,0.5,quantile,1.365115e+06,2 wk ahead inc case,2020-12-05
13,US,0.75,quantile,1.369271e+06,2 wk ahead inc case,2020-12-05
14,US,0.9,quantile,1.373265e+06,2 wk ahead inc case,2020-12-05
15,US,0.975,quantile,1.377574e+06,2 wk ahead inc case,2020-12-05

In [15]:
df_forecast = pd.concat([df_forecast_county, df_forecast_state, df_forecast_nation])
df_forecast.reset_index(drop=True, inplace=True)
df_forecast['forecast_date'] = fc_dt
cols = ['forecast_date', 'target', 'target_end_date', 'location', 'type', 'quantile', 'value']
df_forecast = df_forecast[cols]

# =============== make nagative value zero ==============
value_dezero = df_forecast['value']
value_dezero[value_dezero < 0]  = 0
df_forecast['value'] = value_dezero

In [16]:
team = 'UChicagoCHATTOPADHYAY'
model = 'UnIT'
df_forecast.to_csv(f'results/{fc_dt}-{team}-{model}_case.csv', float_format='%.2f', index=False)

In [17]:
validation = '/home/yihuang/Documents/Data/covid19-forecast-hub/code/validation/validate_single_forecast_file.py'

! python3 {validation} results/2020-11-08-UChicagoCHATTOPADHYAY-UnIT_case.csv

VALIDATING results/2020-11-08-UChicagoCHATTOPADHYAY-UnIT_case.csv
âœ“ results/2020-11-08-UChicagoCHATTOPADHYAY-UnIT_case.csv is valid with no errors